config.yaml
**/__pycache__/**
**/.ipynb_checkpoints/**
**/.DS_Store
artifacts/
*.pyc
*.pyo
*.swp
*.swo
*.egg-info/
*.egg
*.pyd
*.so
*.dll
*.exe
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar
*.gz
*.bz2
*.xz
*.tgz
*.tbz2
*.txz
*.tar
*.tgz